body,
html {
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
	font-family: "Courier New";
	background-color: black;
	color: #ffffff;
	text-shadow:
		0 0 15px #FFFFFF;  
}

#credits {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#logs {
	position: fixed;
	bottom: 0;
	padding: 1em;
	font-size: 1.2em;
	border: 1px solid white;
}

#bio {
	width: 40%;
}

#me {
	width: 30%;
}

#ui {
	display: flex;
	flex-direction: column;
	position: absolute;
	margin: 2em;
	padding: 1em;
	font-size: 1.5em;
	align-items: center;
	max-width: 30%;
	border: 1px solid white;
}

#label {
	text-transform: capitalize;
	font-style: italic;
	font-weight: bolder;
	padding: 1em;
}

#props {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#props div:nth-of-type(odd) {
	flex: 60%;
}

#props div:nth-of-type(even) {
	flex: 40%;
	text-align: right;
	word-break: break-word;
}